.ctas-button,
.ctas-button-2 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-transform: inherit;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .header .heading {
        margin-top: 0;
    }
}

.paragraph {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
}

.socialproof img {
    max-width: none;
    width: 100%;
    max-height: none;
}

.logo {
    margin-top: 15px;
}

.logo img {
    width: 150px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
